/* _________________________________________________
// -------------  Password Generator  --------------
// ------------------------------------------------- */
/* --------  Defaults  -------- */
*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
  font-family: 'Inter', sans-serif;
}
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
body {
  background-color: #1C1C1C;
}


/* --------  Main  -------- */
#container {
  background-color: #1F2937;
  height: 530px;
  width: 90%;
  max-width: 400px;
  margin: 80px auto 0 auto;
  overflow: hidden;
}

.subcontainer {
  margin: 20px auto 0 auto;
  width: 90%;
}

.settings-container {
  border-bottom: 1px solid #2F3E53;
}

/*** Titles ***/
.title {
  font-family: 'Karla', sans-serif;
  color: #fff;
  font-size: 1.7em;
  font-weight: 800;
  text-align: center;
}

.title span {
  color: #4ADF86;
}

.subtitle {
  margin-top: 5px;
  color: #D5D4D8;
  font-weight: 400;
  font-size: 1em;
  text-align: center;
}

/*** Password Length ***/
.pass-length {
  margin-top: 15px;
}

.pass-length_details {
  display: flex;
  justify-content: space-between;
}

.pass-length_title,
.pass-settings_title,
.pass-length_details span {
  color: #fafafa;
  font-size: 0.93em;
}

.pass-range {
  margin-top: 5px;
  width: 100%;
  height: 4px;
}

.pass-range::-webkit-slider-thumb {
  cursor: pointer;
}

/*** Password Settings ***/
.pass-settings {
  margin-top: 5px;
}

.options {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 15px;
  width: 100%;
}

.option {
  width: 170px;
  display: flex;
  justify-content: left;
  align-items: center;
  margin-bottom: 10px;
}

/* The first option for Password Settings can NOT be unselected */
.options .option:first-child {
  pointer-events: none;
}
.options .option:first-child input{
  opacity: 0.7;
}

/*!CHECKBOX*/
.option input[type="checkbox"] {
  cursor: pointer;
  appearance: none;
  -webkit-appearance: none;
  height: 12px;
  width: 12px;
  background-color: #344056;
  border-radius: 3px;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
}

.option input[type="checkbox"]:after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 10px;
  content: "\f00c";
  color: #55F991;
  padding-top: 2px;
  padding-left: 1px;
  display: none;
}

.option input[type="checkbox"]:checked {
  background-color: inherit;
  border: none;
}

.option input[type="checkbox"]:checked:after {
  display: block;
}

.option label {
  margin-left: 10px;
  color: #55F991;
  font-size: 0.9em;
}

/*** BUTTON ***/
button {
  cursor: pointer;
  background-color: #10B981;
  color: #fff;
  border: none;
  border-radius: 5px;
  margin: 10px 0 20px 0;
  padding: 8px 12px 8px 12px;
}

button:hover {
  background-color: #12e49e;
}

/* --------  Password Input  -------- */
.password-container {
  position: relative;
}

 #password-input {
  background-color: #273549;
  color: #55F991;
  border: none;
  border-radius: 5px;
  margin-top: 20px;
  padding: 8px 0 8px 12px;
  width: 100%;
  font-size: 0.9em;
}

.material-symbols-rounded {
  cursor: pointer;
  position: absolute;
  right: 2px;
  top: 25px;
  color: #55F991;
  font-weight: 300;
}

.pass-indicator {
  position: relative;
  height: 3px;
  background-color: #D5D4D8;
  margin-top: 12px;
  border-radius: 25px;
}

.pass-indicator::before {
  position: absolute;
  content: "";
  height: 100%;
  width: 50%;
  border-radius: inherit;
  transition: width 0.3s ease;
}

.pass-indicator#weak::before {
  width: 20%;
  background-color: #e64a4a;
}
.pass-indicator#medium::before {
  width: 50%;
  background-color: #f1c80b;
}
.pass-indicator#strong::before {
  width: 100%;
  background-color: #4285F4;
}





/* __________________________________________________
// --------------    Media Queries    ---------------
// -------------------------------------------------- */
@media all and (min-width: 420px) {
  /* --------  Main  -------- */
  .subcontainer {
    margin-top: 30px;
  }
  /*** Titles ***/
  .title {
    text-align: left;
  }
  .subtitle {
    text-align: left;
  }
  /*** Password Length ***/
  .pass-length {
    margin-top: 30px;
  }
  /*** Password Settings ***/
  .pass-settings {
    margin-top: 10px;
  }
  /*** BUTTON ***/
  button {
    margin-top: 20px;
  }
  /* --------  Password Input  -------- */
  #password-input {
    margin-top: 30px;
  }
  .material-symbols-rounded {
    top: 35px;
  }
}



@media all and (min-width: 555px) {
  /* --------  Main  -------- */
  #container {
    max-width: 500px;
    margin-top: 100px;
  }
  /*** Titles ***/
  .title {
    font-size: 2em;
  }
  .subtitle {
    font-size: 1.09em;
  }

  /*** Password Length ***/
  .pass-length_title,
  .pass-settings_title,
  .pass-length_details span {
    font-size: 1em;
  }

  /*** Password Settings ***/
  /*!CHECKBOX*/
  .option input[type="checkbox"] {
    height: 13px;
    width: 13px;
  }
  .option input[type="checkbox"]:after {
    font-size: 11px;
  }
  .option label {
    font-size: 0.95em;
  }

  /*** BUTTON ***/
  button {
    padding: 10px 14px 10px 14px;
    margin: 25px 0 25px 0;
  }

  /* --------  Password Input  -------- */
  #password-input {
    padding: 10px 0 10px 14px;
    font-size: 0.95em;
  }
  .material-symbols-rounded {
    right: 5px;
    top: 37px;
  }
}



@media all and (min-width: 768px) {
  /* --------  Main  -------- */
  #container {
    height: 650px;
    width: 80%;
    max-width: 850px;
  }
  .subcontainer {
    margin: 60px auto 0 auto;
    width: 80%;
  }
  /*** Titles ***/
  .title {
    font-size: 2.2em;
  }
  .subtitle {
    margin-top: 10px;
    font-size: 1.125em;
  }
  /*** Password Length ***/
  .pass-length_title,
  .pass-settings_title,
  .pass-length_details span {
    font-size: 1.06em;
  }
  .pass-range {
    height: 5px;
  }
  /*** Password Settings ***/
  .options {
    margin-top: 20px;
    width: 80%;
  }
  .option {
    margin-bottom: 20px;
  }

  /*!CHECKBOX*/
  .option input[type="checkbox"] {
    height: 14px;
    width: 14px;
  }
  .option input[type="checkbox"]:after {
    font-size: 12px;
  }
  .option label {
    font-size: 0.98em;
  }
  /*** BUTTON ***/
  button {
    margin: 20px 0 30px 0;
    padding: 11px 19px 11px 17px;
  }
  /* --------  Password Input  -------- */
  .material-symbols-rounded {
    top: 38px;
  }
  .pass-indicator {
    height: 4px;
  }

}