/* _________________________________________________
// -------------  Password Generator  --------------
// ------------------------------------------------- */
/* --------  Defaults  -------- */
*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
  font-family: 'Inter', sans-serif;
}
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
body {
  background-color: #1C1C1C;
}


/* --------  Main  -------- */
#container {
  background-color: #1F2937;
  height: 430px;
  width: 90%;
  max-width: 400px;
  margin: 80px auto 0 auto;
  overflow: hidden;
}

.subcontainer {
  margin: 20px auto 0 auto;
  width: 90%;
}

.settings-container {
  border-bottom: 1px solid #2F3E53;
}

/*** Titles ***/
.title {
  font-family: 'Karla', sans-serif;
  color: #fff;
  font-size: 1.7em;
  font-weight: 800;
  text-align: center;
}

.title span {
  color: #4ADF86;
}

.subtitle {
  margin-top: 5px;
  color: #D5D4D8;
  font-weight: 400;
  font-size: 1em;
  text-align: center;
}


























