/* _________________________________________________
// -------------  Password Generator  --------------
// ------------------------------------------------- */
/* --------  Defaults  -------- */
*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
  font-family: 'Inter', sans-serif;
}
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
body {
  background-color: #1C1C1C;
}


/* --------  Main  -------- */
#container {
  background-color: #1F2937;
  height: 530px;
  width: 90%;
  max-width: 400px;
  margin: 80px auto 0 auto;
  overflow: hidden;
}

.subcontainer {
  margin: 20px auto 0 auto;
  width: 90%;
}

.settings-container {
  border-bottom: 1px solid #2F3E53;
}

/*** Titles ***/
.title {
  font-family: 'Karla', sans-serif;
  color: #fff;
  font-size: 1.7em;
  font-weight: 800;
  text-align: center;
}

.title span {
  color: #4ADF86;
}

.subtitle {
  margin-top: 5px;
  color: #D5D4D8;
  font-weight: 400;
  font-size: 1em;
  text-align: center;
}

/*** Password Length ***/
.pass-length {
  margin-top: 15px;
}

.pass-length_details {
  display: flex;
  justify-content: space-between;
}

.pass-length_title,
.pass-settings_title,
.pass-length_details span {
  color: #fafafa;
  font-size: 0.93em;
}

.pass-range {
  margin-top: 5px;
  width: 100%;
  height: 4px;
}

.pass-range::-webkit-slider-thumb {
  cursor: pointer;
}







/*** Password Settings ***/
.pass-settings {
  margin-top: 5px;
}

.options {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 15px;
  width: 100%;
}

.option {
  width: 170px;
  display: flex;
  justify-content: left;
  align-items: center;
  margin-bottom: 10px;
}








/* The first option for Password Settings can NOT be unselected */
.options .option:first-child {
  pointer-events: none;
}
.options .option:first-child input{
  opacity: 0.7;
}







/*!CHECKBOX*/
.option input[type="checkbox"] {
  cursor: pointer;
  appearance: none;
  -webkit-appearance: none;
  height: 12px;
  width: 12px;
  background-color: #344056;
  border-radius: 3px;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
}

.option input[type="checkbox"]:after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 10px;
  content: "\f00c";
  color: #55F991;
  padding-top: 2px;
  padding-left: 1px;
  display: none;
}

.option input[type="checkbox"]:checked {
  background-color: inherit;
  border: none;
}

.option input[type="checkbox"]:checked:after {
  display: block;
}

.option label {
  margin-left: 10px;
  color: #55F991;
  font-size: 0.9em;
}












/*** BUTTON ***/
button {
  cursor: pointer;
  background-color: #10B981;
  color: #fff;
  border: none;
  border-radius: 5px;
  margin: 10px 0 20px 0;
  padding: 8px 12px 8px 12px;
}

button:hover {
  background-color: #12e49e;
}
























